body {
  margin: 0%;
  padding: 0%;

  overflow-x: hidden;
  position: relative;
  background-color: rgb(234, 249, 250);
  width: 100%;
  min-width: 980px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-left: 50px;
  font-weight: bold;
  flex-direction: row;
  flex-shrink: 0;
}

header,
footer {
  /* couleur Odalys header */
  background-color: #438eb9;
  color: aliceblue;
  font-size: 1.5rem;
  box-sizing: border-box;
  display: flex;
}
header {
  align-items: center;
}

/* header > div > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
/* Start menu  */
.navMenuGouv {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.container-link-gouv {
  color: white;
  background-color: #438eb9;
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-right: 50px;
  flex-shrink: 0;
}
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.container-link-gouv :hover {
  background-color: white;
  color: #438eb9;
  font-weight: bolder;
  text-decoration: none;
}
.a-nav-gouv,
.btnNewIntevention {
  font-size: large;

  color: aliceblue;

  font-size: 25px;
}

/* here start css for menu modals */
.container-modal-gouv {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.moda-nB-statut-gouv {
  background-color: #f9ededa7;
  /* 15% from the top and centered */
  margin-top: 5rem;
  border-radius: 25px;
  border: 1px solid #888;

  width: auto;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;

  /* gap: 1rem; Could be more or less, depending on screen size */
  flex-direction: column;
  text-align: center;
}
.nb-statut-gouv-title > h2 {
  background-color: #438eb9;

  color: white;
  border-radius: 25px;
  overflow: hidden;
}
.warpper-resulta-Nb-statuts {
  display: flex;
  gap: 1rem;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  font-size: clamp(16px, 4vw, 22px);
}
.resulta-Nb-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 0.1;
  /* border: 2rem solid #438eb9; */
  border-radius: 25px;
}
.span-close {
  background-color: red;
  padding: 1rem 2rem;

  border-radius: 5px;
  align-self: flex-end;
}
.span-close:hover {
  background-color: #438eb9;
  color: white;
  font-size: larger;
  cursor: pointer;
}
.container-statut-count-typo {
  margin-bottom: 1rem;
  gap: 0;
}
@media (max-width: 900px) {
  .h1 {
    flex-shrink: 1;
    font-size: 1rem;
  }

  .container-link-gouv {
    flex-shrink: auto;
  }

  .warpper-resulta-Nb-statuts {
    flex-direction: column;
    gap: 0.25rem;
  }
  .container-statut-count-typo {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .moda-nB-statut-gouv {
    margin-left: 0;
    margin-right: 0;
  }
  .span-close {
    align-self: center;
    width: 90%;
    flex-grow: 1;
    border-radius: 25px;
  }
}
/* end  css for menu modals*/
/* here wrapper & btn stat */
.wapper-btn-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0.1;
  justify-content: center;
}
/* here starte main  */
/* btn for funtion  */
.btn-stat {
  background-color: #438eb9;
  color: white;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-size: larger;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.result-occ-detail-count-typo,
.result-appChauffe-detail-count-typo,
.result-pret-detail-count-typo,
.result-BCS-detail-count-typo,
.result-libre-sale-detail-count-typo {
  gap: 1rem;
  display: none;
}
@media (max-width: 900px) {
  .wapper-btn-stat {
    flex-direction: column;
    align-items: center;

    /* margin-top: 1em; */
    gap: 0.5rem;
  }

  .btn-stat {
    width: 100%;

    text-align: center;
  }
}
/* end btn for funtion  */
.resulta-Nb-statuts:hover .result-occ-detail-count-typo,
.resulta-Nb-statuts:hover .result-appChauffe-detail-count-typo,
.resulta-Nb-statuts:hover .result-pret-detail-count-typo,
.resulta-Nb-statuts:hover .result-BCS-detail-count-typo,
.resulta-Nb-statuts:hover .result-libre-sale-detail-count-typo {
  display: flex;
}

/* Ici comence le css pour la table main */

.mainMenage {
  margin-top: 4.2rem;
}
main > #tableauNumeroapp {
  text-align: center;
}

thead {
  font-size: 1.5em;
}
.trGouvernance:hover > td {
  background-color: #fbf6d600;
}
.numeroApp {
  font-weight: bold;
  font-size: 1.5rem;
}
.status > select {
  text-align: center;
}

.t2p4 {
  background-color: #f1d0ec;
}
.t3p6 {
  background-color: #b6d7a8;
}
.t2p4-5 {
  background-color: #ffe599;
}
.t3p6-7 {
  background-color: #a4c2f4;
}

.tstaff {
  background-color: lightcoral;
}

.occuper {
  background-color: #ffe599;
}
.app-en-chauffe {
  background-color: lightsalmon;
}
.pret {
  background-color: #b6d7a8;
}
.bcs {
  background-color: #29ab87;
}
.libre-sale {
  background-color: lightpink;
}
.tdheaderEdit {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* ici commence la modal edition tableau Gouv */
.modal-title {
  width: 100%;
  text-align: center;
}

tr .status {
  font-weight: bold;
  font-size: 1.5rem;
  width: 10%;
}
tr > .name {
  width: 15%;
}
.name {
  font-weight: bolder;
}
.status {
  width: 20%;
}
#headermodal {
  font-size: 2em;
  font-weight: bolder;
}
td.arrive {
  color: green;
  font-size: 2rem;
}
td.depart {
  color: darkmagenta;

  font-size: 2rem;
}
td.ck {
  color: blue;
  font-size: 2rem;
}
/* Modal  */

#modalBody {
  text-align: center;
}

/* end of modal */
footer > div > ul > li > a {
  color: aliceblue;
}
@media (max-width: 900px) {
  header > div > ul > li > a {
    font-size: 12px;
    font-weight: bold;
  }

  header {
    width: 100%;
    position: relative;
    justify-content: center;
  }
  h1 {
    margin: 0;
  }
  /* menu nav  */
  .navMenuGouv {
    width: 100%;
    position: fixed;
    bottom: 0;
    gap: 0;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .container-link-gouv {
    padding: 0;
    flex: 1;
    justify-content: space-evenly;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .a-nav-gouv,
  .btnNewIntevention {
    flex-shrink: 1;
  }
  body {
    min-width: auto;
  }
  .mainMenage {
    margin: 0;
    width: 100%;
    margin-bottom: 5rem;
  }
  .status {
    width: auto;
  }
  .typologie,
  .thEditMenage,
  .name,
  .commentaire,
  .tdEditGouv {
    display: none;
  }
  #modal-commentaire-text {
    width: 250px;
  }
}

/* here Start the css intervention Tech  */

.mainTech {
  margin: 1rem;
  margin-top: 80px;
  text-align: center;
}
#btnNewIntevention {
  color: #fff;
  background: #108fe8;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: move;
}
/* Here start Css New modal  */

.d-None-modal {
  display: none;
}
.trIntevention:hover > td {
  background-color: #fbf6d6;
}
.validation-modal {
  color: red;
  font-size: 1.5rem;
}
/* here end css New modal */

.action-prioritaire {
  background-color: red;
}
.arrivee-du-jour {
  background-color: rgb(191, 233, 166);
}
.demande-inter {
  background-color: lightsalmon;
}
.resolu {
  background-color: lightseagreen;
}
.en-Attente {
  background-color: rgb(246, 176, 246);
}
.en-Commande {
  background-color: #ffe599;
}
.depart-du-client {
  background-color: rgb(190, 84, 190);
}
.vta {
  background-color: lightskyblue;
}
.bloque-tech {
  background-color: #1600dd;
}
.statut-Inter,
.appartement,
.statut-InterSpan {
  font-weight: bold;
}
.statut-InterSpan {
  border-radius: 25px;
  text-align: center;
}
#tableauIterventionTech > tbody > tr > td {
  vertical-align: middle;
}
#tableauIterventionTech {
  margin-left: auto;
  margin-right: auto;

  border-collapse: separate;
  border-spacing: 0px 0.5rem;
}

tbody > tr > td {
  background-color: #ffffff;
}
.date {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tdEdit {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* td {
  border: 1px solid black;
  border-radius: 10px;
} */

@media (max-width: 900px) {
  .tdEdit,
  .tdheaderEdit {
    display: none;
  }
  body {
    min-width: auto;
  }
  #headTech {
    font-size: smaller;
  }
  h1 {
    font-size: medium;
  }
  #navUlInter {
    padding: 1.5%;
  }
  #btnNewIntevention {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  .statut-InterSpan {
    padding: 15px;
  }
  /* .td:has(.statut-InterSpan) {
    border-top-right-radius: 25px;
  } */
  #tableauIterventionTech {
    margin: 0%;

    /* margin-top: 1rem; */

    border-collapse: collapse;
    /* border-spacing: 0px 0.5rem; */
    font-size: 12px;
  }
  .mainTech {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .post {
    display: none;
  }
  .remarque {
    display: none;
  }
  .date {
    display: none;
  }
  /* .statut-Inter {
    font-weight: 100;
  } */
  .appartementThead,
  .appartement {
    width: 20%;
  }
  .appartementThead,
  .appartement {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}
