body {
  text-align: center;
  margin: 0%;
  padding: 0%;

  overflow-x: hidden;
  position: relative;
  background-color: rgb(234, 249, 250);
  width: 100%;
  min-width: 980px;
}
header {
  width: 100%;
  position: sticky;

  top: 0;
  left: 0;
}
h1 {
  display: block;
}
header,
footer {
  /* couleur Odalys header */
  background-color: #438eb9;
  color: aliceblue;
  font-size: 1.5rem;
}

header > div > ul > li > a {
  color: aliceblue;
}
header > div > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Ici comence le css pour la table main */
.mainMenage {
  margin: 1rem;
}
main > #tableauNumeroapp {
  text-align: center;
}

thead {
  font-size: 1.5em;
}

.numeroApp {
  font-weight: bold;
  font-size: 1.5rem;
}
.status > select {
  text-align: center;
}

.t2p4 {
  background-color: #f1d0ec;
}
.t3p6 {
  background-color: #b6d7a8;
}
.t2p4-5 {
  background-color: #ffe599;
}
.t3p6-7 {
  background-color: #a4c2f4;
}

.tstaff {
  background-color: lightcoral;
}

.occuper {
  background-color: #ffe599;
}
.app-en-chauffe {
  background-color: #b6d7a8;
}
.pret {
  background-color: #b6d7a8;
}
.pret-bcs {
  background-color: #b6d7a8;
}
.libre-sale {
  background-color: lightpink;
}
.modal-title {
  width: 100%;
  text-align: center;
}

tr .status {
  font-weight: bold;
  font-size: 1.5rem;
  width: 10%;
}
tr > .name {
  width: 15%;
}
.name {
  font-weight: bolder;
}
.status {
  width: 20%;
}
#headermodal {
  font-size: 2em;
  font-weight: bolder;
}
td.arrive {
  color: green;
  font-size: 2rem;
}
td.depart {
  color: darkmagenta;

  font-size: 2rem;
}
td.ck {
  color: blue;
  font-size: 2rem;
}
/* Modal  */

#modalBody {
  text-align: center;
}

/* end of modal */
footer > div > ul > li > a {
  color: aliceblue;
}
@media (max-width: 576px) {
  header > div > ul > li > a {
    font-size: smaller;
  }
  body {
    min-width: auto;
  }
  .mainMenage {
    margin: 0;
  }
  .typologie {
    display: none;
  }
  .name {
    display: none;
  }
  .commentaire {
    display: none;
  }
}

/* here Start the css intervention Tech  */
.mainTech {
  margin: 1rem;
}
#btnTest {
  height: 50px;
  width: 50px;
  background-color: #1600dd;
  color: aliceblue;
  border-radius: 50%;
  font-weight: 900;
}
.action-prioritaire {
  background-color: red;
}
.arrivee-du-jour {
  background-color: rgb(191, 233, 166);
}
.demande-inter {
  background-color: lightsalmon;
}
.resolu {
  background-color: lightseagreen;
}
.en-Attente {
  background-color: rgb(246, 176, 246);
}
.en-Commande {
  background-color: #ffe599;
}
.depart-du-client {
  background-color: rgb(190, 84, 190);
}
.vta {
  background-color: lightskyblue;
}
.bloque-tech {
  background-color: #1600dd;
}
.statut-Inter,
.appartement {
  font-weight: bold;
}
#tableauIterventionTech > tbody > tr > td {
  vertical-align: middle;
}
#tableauIterventionTech {
  margin-left: auto;
  margin-right: auto;

  border-collapse: separate;
  border-spacing: 0px 0.5rem;
}

tbody > tr > td {
  background-color: #ffffff;
}
.date {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.tdEdit {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* td {
  border: 1px solid black;
  border-radius: 10px;
} */
@media (max-width: 576px) {
  body {
    min-width: auto;
  }
  #headTech {
    font-size: smaller;
  }
  h1 {
    font-size: medium;
  }
  #tableauIterventionTech {
    width: 100%;
    margin: 0%;
    padding: 0%;
    /* margin-top: 1rem; */

    border-collapse: collapse;
    /* border-spacing: 0px 0.5rem; */
    font-size: 12px;
  }
  main {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .post {
    display: none;
  }
  .remarque {
    display: none;
  }
  .date {
    display: none;
  }
  /* .statut-Inter {
    font-weight: 100;
  } */
  .appartementThead,
  .appartement {
    width: 20%;
  }
}
