body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
h1 {
  display: block;
}
header,
footer {
  /* couleur Odalys header */
  background-color: #438eb9;
  color: aliceblue;
  font-size: 1.5rem;
}

header > div > ul > li > a {
  color: aliceblue;
}
header > div > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Ici comence le css pour la table main {
  /* width: 70%; */
/* } */

main > #tableauNumeroapp {
  text-align: center;
  /* align-content: center; */
  /* width: 120%; */

  /* border: 3px solid #dddddd; */
}

thead {
  font-size: 1.5em;
  background-color: #dddddd;
  /* border: 3px solid #dddddd; */
}

.numeroApp {
  font-weight: bold;
  font-size: 1.5rem;

  /* width: 70%; */
  /* border-radius: 15%; */
}
.status > select {
  text-align: center;
}

.t2p4 {
  background-color: #f1d0ec;
}
.t3p6 {
  background-color: #b6d7a8;
}
.t2p4-5 {
  background-color: #ffe599;
}
.t3p6-7 {
  background-color: #a4c2f4;
}

.tstaff {
  background-color: lightcoral;
}

.occuper {
  background-color: #ffe599;
}
.app-en-chauffe {
  background-color: #b6d7a8;
}
.pret {
  background-color: #b6d7a8;
}
.pret-bcs {
  background-color: #b6d7a8;
}
.libre-sale {
  background-color: lightpink;
}
.modal-title {
  width: 100%;
  text-align: center;
}
/* .commentaire {
  width: 5%;
} */
/* thead > tr > .status {
  /* width: 15%; */
/* } */
tr .status {
  font-weight: bold;
  font-size: 1.5rem;
  width: 10%;
}
tr > .name {
  width: 15%;
}
.name {
  font-weight: bolder;
}
.status {
  width: 20%;
}
#headermodal {
  font-size: 2em;
  font-weight: bolder;
}
td.arrive {
  color: green;
  font-size: 2rem;
}
td.depart {
  color: darkmagenta;

  font-size: 2rem;
}
td.ck {
  color: blue;
  font-size: 2rem;
}
/* Modal  */

#modalBody {
  text-align: center;
}

/* end of modal */
footer > div > ul > li > a {
  color: aliceblue;
}

/* .btnFaux {
  display: none;
} */

/* here Start the css intervention Tech  */
#btnTest {
  height: 50px;
  width: 50px;
  background-color: #f1d0ec;
}
